@model QLKHO.Models.NhaCungCap

@{
    ViewBag.Title = "Delete";
}



<h3>Bạn muốn xóa nhà cung cấp này?</h3>
<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.TenNCC, "Tên Nhà Cung Cấp")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNCC)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Email, "Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SoDienThoai, "Số Điện Thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
