@model IEnumerable<QLKHO.Models.NhaCungCap>

<div class="container-fluid">
    <div style="max-height: 500px ;" class="row px-5 overflow-auto">
        <h1 style="text-align: center; width: 100%;" class="h3 mb-2 text-gray-800">Nhà Cung Cấp</h1>

        <table class="table table-hover table-bordered ">
            <thead class="text-center">
            <th scope="col">Nhà Cung Cấp</th>
            <th scope="col">Email</th>
            <th scope="col">Fax</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Action</th>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.TenNCC</td>
                    <td>@item.Email</td>
                    <td>@item.Fax</td>
                    <td>@item.SoDienThoai</td>
                    <td class="d-flex justify-content-around">
                        @Html.ActionLink("Sửa", "Edit", new { id = item.MaNCC }, new { @class = "btn btn-primary " })
                        @Html.ActionLink("Xóa", "Delete", new { id = item.MaNCC }, new { @class = "btn btn-danger " })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="container pt-3">
        <div class="row justify-content-end">
            <a href="Create" class="btn btn-primary ">Thêm</a>
        </div>
    </div>
</div>