@model IEnumerable<QLKHO.Models.PhieuXuat>
<div class="container-fluid">
    <div style="max-height: 500px ;" class="row px-5 overflow-auto">
        <h1 style="text-align: center; width: 100%;" class="h3 mb-2 text-gray-800">Danh Sách Phiếu Xuất</h1>

        <table class="table table-hover table-bordered ">
            <thead class="text-center">
            <th scope="col">Mã Phiếu</th>
            <th scope="col">Khách Hàng</th>
            <th scope="col">Nhân Viên</th>
            <th scope="col">Ngày Lập</th>
            <th scope="col">Tổng Tiền</th>
            <th scope="col">Action</th>
            </thead>


            @foreach (var item in Model)
            {
                <tr style="text-align:center">
                    <td>
                        @if (item != null)
                        {
                            @Html.DisplayFor(modelItem => item.MaPhieuXuat)
                        }
                    </td>
                    <td>
                        @if (item != null && item.KhachHang != null)
                        {
                            @Html.DisplayFor(modelItem => item.KhachHang.TenKH)
                        }
                    </td>
                    <td>
                        @if (item != null && item.TaiKhoan != null)
                        {
                            @Html.DisplayFor(modelItem => item.TaiKhoan.HoTen)
                        }
                    </td>
                    <td>
                        @if (item != null)
                        {
                            @item.NgayLap.Value.ToString("dd-MM-yyyy")
                        }
                    </td>
                    <td>
                        @if (item != null)
                        {
                            @Html.DisplayFor(modelItem => item.ThanhTien)
                        }
                    </td>
                    <td style="display: flex; justify-content: space-around;">
                        @if (item != null)
                        {
                            @Html.ActionLink("Chi Tiết", "ChiTietPhieu", new { id = item.MaPhieuXuat }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("In", "Print", new { id = item.MaPhieuXuat }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Xóa", "Delete", new { id = item.MaPhieuXuat }, new { @class = "btn btn-danger" })
                        }
                    </td>
                </tr>
            }



        </table>
    </div>
    <div class="container pt-3">
        <div class="row justify-content-end">
            <a href="~/PhieuXuats/Create" class="btn btn-primary w-block-8">Thêm</a>
        </div>
    </div>
</div>