@model QLKHO.Models.KhachHang

@{
    ViewBag.Title = "Delete";

}



<h3>Bạn muốn xóa khách hàng này?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.TenKH, "Tên Khách Hàng")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SoDienThoai, "Số Điện Thoại")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
